@import 'https://fonts.googleapis.com/css?family=Changa';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
  font-family: 'Changa', sans-serif;
  background-color: #dddddd;
}
h1 {
  text-align: center;
  font-size: 2.5em;
}
h2 {
  text-align: center;
  font-size: 1em;
}

/* Navigation bar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navitem {
    float: left;
}

.navname {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navitem a:hover {
    background-color: #00b300;
}

#currentpage {
    background-color: #808080;
}

#footer {
  font-family: 'Open Sans', sans-serif;
  clear: left;
  background-color: #CCCCCC;
  text-align: center;
  padding: 20px;
  height: 1%;
  font-size: 0.8em;
}
