@import 'https://fonts.googleapis.com/css?family=Changa';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/* Main text and body styling */
body {
  font-family: 'Changa', sans-serif;
  background-color:
    background: #ffd633; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffd633, #ffffb3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd633, #ffffb3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd633, #ffffb3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd633, #ffffb3); /* Standard syntax */

}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 1em;
}

/* Navigation bar styling */
.navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
}

.navitem {
    float: left;
}

.navname {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a:hover {
    background-color: #ff0000;
}


  

#currentpage {
    background-color: #4d0000;
    
}

/* Footer styling */
#footer {
  font-family: 'Open Sans', sans-serif;
  clear: left;
  background-color: #CCCCCC;
  text-align: center;
  padding: 1px;
  height: 1%;
  font-size: 0.8em;
}

/* Home Page Styling */
#homepage {
  font-family: 'Archivo Narrow', sans-serif;
  list-style-type: none;
  text-align: center;
}

/* Videos page styling */
#videos {
  padding: 100px 30px 100px 150px;
}

.description {
  font-size: 1em;
  padding: 100px 100px 100px 30px;
  position: relative;
  bottom: 200px;
}
