@import 'https://fonts.googleapis.com/css?family=Changa';
body {
  font-family: 'Changa', sans-serif;
  background-color: #dddddd;
}
h1 {
  text-align: center;
  font-size: 2.5em;
}
h2 {
  text-align: center;
  font-size: 1em;
}

/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.navname {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
